{% extends 'inicio/index.html' %}

{% block content %}

  <h1>PREVENCION DE PERDIDAS - STATUS GENERAL</h1>
  
<!--
  <form method="GET" action="">
    <label><strong>Fecha exacta:</strong></label>
    <input type="date" name="fecha" value="{{ fecha_actual }}" onchange="this.form.submit()">
-->
    
    <label><strong>Mes:</strong></label>
    
    <button class="btn btn-primary" type="submit">
    <select name="mes" onchange="this.form.submit()">
        <option value="">Todos</option>
        {% for m in meses_unicos %}
            <option value="{{ m }}" {% if m|stringformat:"s" == mes_actual %}selected{% endif %}>
                {{ m }}
            </option>
        {% endfor %}
    </select>
    </button>

<!--    <button class="btn btn-primary" type="submit">
    <button class="btn btn-primary" type="submit">
      <label><strong>Día de semana:</strong></label>
    </button>
--> 

    <!--
    <select name="dia" onchange="this.form.submit()">
        <option value="">Todos</option>
        <option value="0" {% if dia_actual == '0' %}selected{% endif %}>Lunes</option>
        <option value="1" {% if dia_actual == '1' %}selected{% endif %}>Martes</option>
        <option value="2" {% if dia_actual == '2' %}selected{% endif %}>Miércoles</option>
        <option value="3" {% if dia_actual == '3' %}selected{% endif %}>Jueves</option>
        <option value="4" {% if dia_actual == '4' %}selected{% endif %}>Viernes</option>
        <option value="5" {% if dia_actual == '5' %}selected{% endif %}>Sábado</option>
        <option value="6" {% if dia_actual == '6' %}selected{% endif %}>Domingo</option>
    </select>
    

    <button class="btn btn-primary" type="submit">Aplicar</button>
</form>
-->

  <!-- Tarjeta de contador -->
  <!-- BARRA 1 -->
  <div style="display: flex; gap: 20px; margin-bottom: 20px;">
      <!-- EN ESPERA -->
      <div style="background-color: #f59700ff; color: white; padding: 15px; width: 200px; 
                  text-align: center; border-radius: 10px;">
          <strong>DESAPARECIDAS ACTUALES</strong><br>
          <span style="font-size: 24px;">{{ casos_espera }}</span>
      </div>

      <!-- ROBADAS -->
      <div style="background-color: #004080; color: white; padding: 15px; width: 200px; 
                  text-align: center; border-radius: 10px;">
          <strong>ROBADAS TOTALES</strong><br>
          <span style="font-size: 24px;">{{ casos_robada }}</span>
      </div>

      <!-- RECUPERADAS -->
      <div style="background-color: #00530fff; color: white; padding: 15px; width: 150px; 
                  text-align: center; border-radius: 10px;">
          <strong>RECUPERADAS</strong><br>
          <span style="font-size: 24px;">{{ casos_robada_recuperada }}</span>
      </div>

      <!-- COMISARIA -->
      <div style="background-color: rgb(133, 133, 133); color: white; padding: 15px; width: 150px; 
                  text-align: center; border-radius: 10px;">
          <strong>COMISARIA</strong><br>
          <span style="font-size: 24px;">{{ comisaria }}</span>
      </div>

      <!-- VANDALISMO -->
      <div style="background-color: rgb(133, 133, 133); color: white; padding: 15px; width: 150px; 
                  text-align: center; border-radius: 10px;">
          <strong>VANDALISMO</strong><br>
          <span style="font-size: 24px;">{{ vandalismo }}</span>
      </div>
  </div>

    <div style="width: 50%; margin: 40px auto;">
        <h3>Robos por Mes (según Fecha Robada)</h3>
        <canvas id="graficoRobosMes"></canvas>
    </div>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Plugin datalabels -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

    <script>
        const ctx = document.getElementById("graficoRobosMes");

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ meses_robos|safe }},
                datasets: [{
                    label: 'Cantidad de robos',
                    data: {{ cant_robos|safe }},
                    backgroundColor: 'rgba(180, 0, 0, 0.6)',
                    borderColor: 'rgba(180, 0, 0, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { beginAtZero: true }
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        color: '#000',
                        font: {
                            weight: 'bold',
                            size: 10
                        },
                        formatter: (value) => value
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
    </script>

    <!-- Graficos de Recuperos -->

    <div style="width: 80%; height: 420px; margin: 40px auto;">
        <h3>Recuperos por Mes (según Fecha de Recupero)</h3>
        <canvas id="graficoRecuperosMes"></canvas>
    </div>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Plugin datalabels -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

    <script>
        const ctx = document.getElementById("graficoRecuperosMes");

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ meses_recuperos|safe }},
                datasets: [{
                    label: 'Cantidad de recuperos',
                    data: {{ cant_recuperos|safe }},
                    backgroundColor: 'rgba(0, 130, 39, 0.6)',
                    borderColor: 'rgb(1, 113, 16)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: { beginAtZero: true }
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        color: '#000',
                        font: {
                            weight: 'bold',
                            size: 10
                        },
                        formatter: (value) => value
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
    </script>

    <!-- INTENTO Mapa de puntos GPS -->

    <div id="map" style="height: 500px; width: 100%; border-radius: 12px; margin-top: 40px;"></div>
    
    <script>
        const puntos = {{ puntos_gps|safe }};
        console.log(puntos);  // DEBUG

        if (puntos.length > 0) {

            const map = L.map('map').setView([-34.61, -58.38], 12);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap'
            }).addTo(map);

            puntos.forEach(p => {
                if (p.lat && p.lng) {
                    L.circleMarker([p.lat, p.lng], {
                        radius: 4,
                        color: '#d90429',
                        fillOpacity: 0.7
                    }).addTo(map);
                }
            });

        } else {
            console.warn("No hay puntos GPS para mostrar");
        }
    </script>

{% endblock %}

