{% extends 'inicio/index.html' %}
{% load humanize %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<!-- GRAFICO POR SEXO || VER DESPUES
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
    <div style="width: 30%;">
        <h3>Distribución por Sexo</h3>
        <canvas id="graficoSexo"></canvas>
    <script>
        const sexoData = {{ sexo_counts|safe }};
        new Chart(document.getElementById('graficoSexo'), {
            type: 'pie',
            data: {
        labels: Object.keys(sexoData),
        datasets: [{
            data: Object.values(sexoData),
            backgroundColor: ['#36A2EB','#FF6384','#FFCE56']
        }]
    }
});
    </script>
    </div>
</div>
-->

<!-- COMENZANDO POWERBI -->

<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
    <div class="card text-center" style="background-color:#002855; color:white; border-radius:20px; padding:15px; width:220px;">
        <p style="font-style:italic;">Acumulación Anual</p>
        <h1 style="font-size:2em;">{{ viajes_acumulados }}</h1>
    </div>


    <div class="card text-center" style="background-color:#002855; color:white; border-radius:20px; padding:15px; width:220px;">
        <h6>Viajes del Mes</h6>
        <h2>{{ viajes_mes_actual|floatformat:0|intcomma }}</h2>
        <p>{{ porcentaje_mes|floatformat:1 }}%</p>
    </div>



    <!--<div style="display:flex; justify-content:center; gap:20px; margin-top:20px;">-->
         <!-- Promedio Lunes a Viernes -->
    <div class="card text-center" style="background-color:#002855; color:white; border-radius:20px; padding:15px; width:220px;">
            <h6>Promedio Lunes a Viernes</h6>
            <h2>{{ promedio_lunes_viernes|intcomma }}</h2>
        {% if variacion_lv >= 0 %}
            <p style="color:lightgreen;">&#9650; {{ variacion_lv|floatformat:1 }}%</p>
        {% else %}
            <p style="color:lightcoral;">&#9660; {{ variacion_lv|floatformat:1 }}%</p>
        {% endif %}
    </div>

    <!-- Promedio Fin de Semana -->
    <div class="card text-center" style="background-color:#002855; color:white; border-radius:20px; padding:15px; width:220px;">
        <h6>Promedio Fin de Semana</h6>
        <h2>{{ promedio_fin_semana|intcomma }}</h2>
    {% if variacion_fs >= 0 %}
        <p style="color:lightgreen;">&#9650; {{ variacion_fs|floatformat:1 }}%</p>
    {% else %}
        <p style="color:lightcoral;">&#9660; {{ variacion_fs|floatformat:1 }}%</p>
    {% endif %}
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
  <div class="card text-center" style="background-color:#002855; color:white; border-radius:20px; padding:15px; width:220px;">
    <h6>Bicicletas Usadas ({{ fecha_actual|date:"F" }})</h6>
    <h2>{{ bicicletas_usadas|intcomma }}</h2>
  </div>

  <div class="card text-center" style="background-color:#002855; color:white; border-radius:20px; padding:15px; width:220px;">
    <h6>Promedio de Viajes por Bicicleta</h6>
    <h2>{{ promedio_viajes_por_bici|floatformat:1 }}</h2>
  </div>
</div>


<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
    <div style="width: 30%;">
        <h3>Viajes por Origen (Top 10)</h3>
        <canvas id="graficoOrigen"></canvas>

    <script>
    const viajesOrigen = {{ viajes_por_origen|safe }};

    new Chart(document.getElementById('graficoOrigen'), {
        type: 'bar',
        data: {
            labels: Object.keys(viajesOrigen),
            datasets: [{
                label: "Cantidad de viajes",
                data: Object.values(viajesOrigen),
                backgroundColor: '#6670FF'
            }]
        },
        options: {
            indexAxis: 'y', // barras horizontales
            responsive: true,
            plugins: {
                legend: { 
                    display: false, 
                },
                title: { display: true, text: 'Viajes por Origen' },
                datalabels: {
                    anchor: 'end',
                    align: 'right',
                    color: '#000',
                    font: {
                        weight: 'bold',
                        size: "9",
                    },
                    formatter: function(value) {
                        return value.toLocaleString(); // separador de miles
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });
    </script>
    </div>


    <div style="width: 30%;">
        <h3>Viajes por Destino (Top 20)</h3>
        <canvas id="graficoDestino"></canvas>

    <script>
    const viajesDestino = {{ viajes_por_destino|safe }};

    new Chart(document.getElementById('graficoDestino'), {
        type: 'bar',
        data: {
            labels: Object.keys(viajesDestino),
            datasets: [{
                label: "Cantidad de viajes",
                data: Object.values(viajesDestino),
                backgroundColor: '#6670FF'
            }]
        },
        options: {
            indexAxis: 'y', // barras horizontales
            responsive: true,
            plugins: {
                legend: { display: false },
                title: { display: true, text: 'Viajes x Destino' },
                datalabels: {
                    anchor: 'end',
                    align: 'right',
                    color: '#000',
                    font: { weight: 'bold' },
                    formatter: function(value) {
                        return value.toLocaleString(); // separador de miles
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });
    </script>
    </div>
</div>


<canvas id="viajesPorMes" height="120"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('viajesPorMes');
new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {{ meses_labels|safe }},
    datasets: [{
      label: 'Viajes por mes',
      data: {{ viajes_values|safe }},
      backgroundColor: '#4b9cd3'
    }]
  },
  options: {
    plugins: { legend: { display: false } },
    scales: {
      y: { beginAtZero: true }
    }
  }
});
</script>


<!--
<h4>🕒 Último uso por bicicleta</h4>
    <div class="table-responsive">
        {{ tabla_ultimo_uso|safe }}
    </div>
-->


<div class="card mt-4 p-3 shadow-sm">
  {{ grafico_bicis_html|safe }}
</div>


<div class="mt-3">
    <a href="{% url 'descargar_ultimo_uso' %}" class="btn btn-success">
    ⬇️ Descargar CSV Último uso
    </a>
</div>

{% endblock content %}