{% extends 'inicio/index.html' %}
{% load humanize %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>



<!-- COMENZANDO POWERBI -->


<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">

    <div style="width: 30%;">
        <a href="{% url 'descargar_viajes_por_estacion' %}?estacion={{ estacion_seleccionada }}"
            class="btn btn-success">
            Descargar CSV estaciones
        </a>
    </div>

    <div style="width: 30%;">
        <h3>Viajes por Origen (Top 10)</h3>
        <canvas id="graficoOrigen"></canvas>

    <script>
    const viajesOrigen = {{ viajes_por_origen|safe }};

    new Chart(document.getElementById('graficoOrigen'), {
        type: 'bar',
        data: {
            labels: Object.keys(viajesOrigen),
            datasets: [{
                label: "Cantidad de viajes",
                data: Object.values(viajesOrigen),
                backgroundColor: '#6670FF'
            }]
        },
        options: {
            indexAxis: 'y', // barras horizontales
            responsive: true,
            plugins: {
                legend: { 
                    display: false, 
                },
                title: { display: true, text: 'Viajes por Origen' },
                datalabels: {
                    anchor: 'end',
                    align: 'right',
                    color: '#000',
                    font: {
                        weight: 'bold',
                        size: "9",
                    },
                    formatter: function(value) {
                        return value.toLocaleString(); // separador de miles
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });
    </script>
    </div>

    <div style="width: 30%;">
        <a href="{% url 'descargar_viajes_por_estacion' %}?estacion={{ estacion_seleccionada }}"
            class="btn btn-success">
            Descargar CSV estaciones
        </a>
    </div>

    <div style="width: 30%;">
        <h3>Viajes por Destino (Top 20)</h3>
        <canvas id="graficoDestino"></canvas>

    <script>
    const viajesDestino = {{ viajes_por_destino|safe }};

    new Chart(document.getElementById('graficoDestino'), {
        type: 'bar',
        data: {
            labels: Object.keys(viajesDestino),
            datasets: [{
                label: "Cantidad de viajes",
                data: Object.values(viajesDestino),
                backgroundColor: '#6670FF'
            }]
        },
        options: {
            indexAxis: 'y', // barras horizontales
            responsive: true,
            plugins: {
                legend: { display: false },
                title: { display: true, text: 'Viajes x Destino' },
                datalabels: {
                    anchor: 'end',
                    align: 'right',
                    color: '#000',
                    font: { weight: 'bold' },
                    formatter: function(value) {
                        return value.toLocaleString(); // separador de miles
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });
    </script>
    </div>
</div>


<canvas id="viajesPorMes" height="120"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('viajesPorMes');
new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {{ meses_labels|safe }},
    datasets: [{
      label: 'Viajes por mes',
      data: {{ viajes_values|safe }},
      backgroundColor: '#4b9cd3'
    }]
  },
  options: {
    plugins: { legend: { display: false } },
    scales: {
      y: { beginAtZero: true }
    }
  }
});
</script>


<div class="card mt-4 p-3 shadow-sm">
  {{ grafico_bicis_html|safe }}
</div>


<div class="mt-3">
    <a href="{% url 'descargar_ultimo_uso' %}" class="btn btn-success">
    ⬇️ Descargar CSV Último uso
    </a>
</div>

{% endblock content %}