{% extends 'inicio/index.html' %}

{% block content %}
<h2>Visualización de Viajes</h2>

<div style="display: flex; flex-wrap: wrap; gap: 30px;">
    <div style="width: 30%;">
        <canvas id="graficoViajes" width="200" height="100"></canvas>
    </div>
    <div style="width: 30%;">
        <canvas id="graficoAcumulado" width="200" height="100"></canvas>
    </div>
    <div style="width: 30%;">
        <canvas id="graficoPromedio" width="200" height="100"></canvas>
    </div>
    <div style="width: 30%;">
    <canvas id="graficoUsuariosUnicos" width="200" height="100"></canvas>
    </div>
    <div style="width: 30%;">
    <canvas id="graficoRegistrados" width="200" height="100"></canvas>
    </div>
</div>

<script>
    const labels = {{ labels|safe }};
    const q_viajes = {{ q_viajes|safe }};
    const acumulado = {{ acumulado|safe }};
    const promedio = {{ promedio|safe }};
    const usuarios_unicos = {{ usuarios_unicos|safe }};
    const usuarios_registrados = {{ usuarios_registrados|safe }};

    new Chart(document.getElementById('graficoViajes'), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Cantidad de Viajes',
                data: q_viajes,
                backgroundColor: '#4bc0c0'
            }]
        }
    });

    new Chart(document.getElementById('graficoAcumulado'), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Acumulado de Viajes',
                data: acumulado,
                borderColor: '#ff6384',
                fill: false
            }]
        }
    });

    new Chart(document.getElementById('graficoPromedio'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Promedio Diario (día hábil)',
                data: promedio,
                backgroundColor: '#ffcd56'
            }]
        }
    });

    new Chart(document.getElementById('graficoUsuariosUnicos'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Usuarios Únicos',
                data: usuarios_unicos,
                backgroundColor: '#36a2eb'
            }]
        }
    });

    new Chart(document.getElementById('graficoRegistrados'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Usuarios Registrados',
                data: usuarios_registrados,
                backgroundColor: '#9966ff'
            }]
        }
    });
</script>
{% endblock %}




